
:root {
    --first-color: #222831;
    --second-color: #393E41;
    --third-color: #3393ca;
    --forth-color: #eeeeee;
    --background-color:#000000
}

*{
    color: var(--forth-color);
    font-family: 'Denk One', sans-serif;
}

html{
    margin: 0;
    padding: 0;
    background-color: #a3a3a3;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--first-color);
}

.computerClipArt{
    top: 4vw;
    left: 14vw;
    width: 8%;
    position: absolute;
}

.Ghosty{
    top: 16vw;
    left: 75vw;
    width: 4%;
    position: absolute;
}

a{
    text-decoration: none;
}

.apology_container{
    margin: 0;
    padding: 0;
    font-size: 4vw;
    line-height: 7vw;
}

.apology_container p:nth-child(2){
    padding: 4vw 0 0 25vw;
    margin: 0;
}
.apology_container p:nth-child(3){
    padding: 4vw 0 0 22vw;
    margin: 0;
}

.game_submission_message{
    padding: 2vw 5vw 2vw 5vw;
    margin: 0;
    font-size: 2vw;
    line-height: 3vw;
}

/*=====================================================*/

.contact_info_container{
    margin: 0;
    padding: 0 6vw 2vw 6vw;
    display: flex;
    flex-direction: row;
}

.contact_info_div{
    padding: 0;
    margin: 0;
}

.contact_icons{
    background-color: var(--second-color);
    border: none;
    box-shadow: 0 1vw 3vw var(--background-color);
    border-radius:1vw;
    width: 5.2vw;
    height: 5.2vw;
    margin: 0;
    padding: 0;
}

.contact_info_p{
    margin: 2vw 0 2vw 2vw;
    padding: 2vw 1vw;
    width: 25vw;
    font-size: 2.5vw;
    font-family: 'Denk One', sans-serif;
    background-color: var(--second-color);
    border: none;
    box-shadow: 0 1vw 3vw var(--background-color);
    border-radius:1vw;
    text-shadow: 0 1.5vw 3vw var(--background-color);
}





